@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dragCard{
    50%{
        transform: translateY(400px);
    }
    100%{
        transform: translateY(400px) translateX(300px);
    }
}
@keyframes flipCard{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(180deg);
    }
}
.

/* Table */


@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes gloww{
    0%{
        box-shadow: 5px 0px 5px #0000ee50;
    }
    15%{
        box-shadow: 5px -5px 5px #0000ee50;
    }
    25%{
        box-shadow: 0px -5px 5px #0000ee50;
    }
    40%{
        box-shadow: -5x -5px 5px #0000ee50;
    }
    50%{
        box-shadow: -5px 0px 5px #0000ee50;
    }
    65%{
        box-shadow: -5px 5px 5px #0000ee50;
    }
    75%{
        box-shadow: 0px 5px 5px #0000ee50;
    }
    90%{
        box-shadow: 5px 5px 5px #0000ee50;
    }
    100%{
        box-shadow: 5px 0px 5px #0000ee50;
    }
}

.table > div{
    animation: gloww 7s linear infinite;
}


/* Table */


img:hover img{
    /*animation: dragCard 1s ease-in-out 0s;
    animation-fill-mode: forwards;*/
}
.deck{
    transform: scale(0.25);
}
.outer{
    perspective: 1000px;
    position:absolute;
}
.inner{
    transform-style: preserve-3d;
    width: 500px;
    height: 722px;
   /* animation: flipCard 7s ease-in-out 1s;
    animation-play-state: paused;
    animation-fill-mode: forwards;*/
}
.outer:hover .inner {
    /*animation-play-state: running;*/
}
.back, .front{
    width:100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    transform: rotateX(180deg);
}